<configuration>
  <connectionStrings>
    <!-- Auth (users_app) -->
    <add name="AuthMySql"
         connectionString="Server=172.18.5.90;Database=auth_app;Uid=consulta_koha;Pwd=asdasd$;SslMode=None;AllowUserVariables=True;Character Set=utf8;"
         providerName="MySql.Data.MySqlClient" />

    <!-- Koha -->
    <add name="KohaMySql"
         connectionString="Server=172.18.5.90;Database=koha_unac;Uid=consulta_koha;Pwd=rgtrvdf$;SslMode=None;AllowUserVariables=True;Character Set=utf8;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
